<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIZ_OPENAPI_APPID_INVALID</key>
	<string>AppID无效</string>
	<key>GIZ_OPENAPI_APPLICATION_AUTH_INVALID</key>
	<string>应用授权无效</string>
	<key>GIZ_OPENAPI_ATTR_INVALID</key>
	<string>属性无效</string>
	<key>GIZ_OPENAPI_BAD_QRCODE_CONTENT</key>
	<string>QRCode内容已损坏</string>
	<key>GIZ_OPENAPI_BT_FIRMWARE_NOTHING_TO_UPGRADE</key>
	<string>BT固件不需要升级</string>
	<key>GIZ_OPENAPI_BT_FIRMWARE_UNVERIFIED</key>
	<string>BT固件未验证</string>
	<key>GIZ_OPENAPI_CODE_EXPIRED</key>
	<string>验证码已过期</string>
	<key>GIZ_OPENAPI_CODE_INVALID</key>
	<string>验证码无效</string>
	<key>GIZ_OPENAPI_DATAPOINT_DATA_NOT_FOUND</key>
	<string>找不到对应的设备数据点数据</string>
	<key>GIZ_OPENAPI_DEPRECATED_API</key>
	<string>API已废弃</string>
	<key>GIZ_OPENAPI_DEVICE_DISABLED</key>
	<string>设备已注销</string>
	<key>GIZ_OPENAPI_DEVICE_NOT_BOUND</key>
	<string>设备未绑定</string>
	<key>GIZ_OPENAPI_DEVICE_NOT_FOUND</key>
	<string>找不到对应的设备</string>
	<key>GIZ_OPENAPI_DEVICE_OFFLINE</key>
	<string>设备已离线</string>
	<key>GIZ_OPENAPI_DID_PASSCODE_INVALID</key>
	<string>设备的DID或验证码无效</string>
	<key>GIZ_OPENAPI_EMAIL_UNAVALIABLE</key>
	<string>邮箱已注册</string>
	<key>GIZ_OPENAPI_EVENT_NOT_DEFINED</key>
	<string>事件未定义</string>
	<key>GIZ_OPENAPI_FAILED_NOTIFY_M2M</key>
	<string>M2M通知失败</string>
	<key>GIZ_OPENAPI_FIRMWARE_NOT_FOUND</key>
	<string>找不到设备固件</string>
	<key>GIZ_OPENAPI_FORM_INVALID</key>
	<string>请求数据格式无效</string>
	<key>GIZ_OPENAPI_JD_PRODUCT_NOT_FOUND</key>
	<string>找不到京东产品信息</string>
	<key>GIZ_OPENAPI_M2M_ID_INVALID</key>
	<string>M2MID无效</string>
	<key>GIZ_OPENAPI_MAC_ALREADY_REGISTERED</key>
	<string>设备MAC已经注册</string>
	<key>GIZ_OPENAPI_NOT_ALLOWED_CALL_API</key>
	<string>不允许使用已废弃的API</string>
	<key>GIZ_OPENAPI_OTA_SERVICE_OK_BUT_IN_IDLE</key>
	<string>OTA升级服务闲置或被禁用</string>
	<key>GIZ_OPENAPI_PHONE_UNAVALIABLE</key>
	<string>手机号已注册</string>
	<key>GIZ_OPENAPI_PRODUCTION_SCALE_QUOTA_EXHAUSTED</key>
	<string>产品配额已耗尽</string>
	<key>GIZ_OPENAPI_PRODUCT_HAS_NO_REQUEST_SCALE</key>
	<string></string>
	<key>GIZ_OPENAPI_PRODUCT_KEY_INVALID</key>
	<string>产品类型标识码无效</string>
	<key>GIZ_OPENAPI_QQ_OAUTH_KEY_INVALID</key>
	<string>QQ登录授权key无效</string>
	<key>GIZ_OPENAPI_REQUEST_THROTTLED</key>
	<string>请求队列已满</string>
	<key>GIZ_OPENAPI_RESERVED</key>
	<string>保留的错误字</string>
	<key>GIZ_OPENAPI_SANDBOX_SCALE_QUOTA_EXHAUSTED</key>
	<string>沙盒配额已耗尽</string>
	<key>GIZ_OPENAPI_SAVE_KAIROSDB_ERROR</key>
	<string>kairosdb存储错误</string>
	<key>GIZ_OPENAPI_SCHEDULER_NOT_FOUND</key>
	<string>找不到计划任务</string>
	<key>GIZ_OPENAPI_SEND_COMMAND_FAILED</key>
	<string>指令发送失败</string>
	<key>GIZ_OPENAPI_SEND_SMS_FAILED</key>
	<string>手机短信发送失败</string>
	<key>GIZ_OPENAPI_SERVER_ERROR</key>
	<string>服务发生错误</string>
	<key>GIZ_OPENAPI_SIGNATURE_INVALID</key>
	<string>应用签名无效</string>
	<key>GIZ_OPENAPI_TIMESTAMP_INVALID</key>
	<string>时间戳无效</string>
	<key>GIZ_OPENAPI_TOKEN_EXPIRED</key>
	<string>用户token已过期</string>
	<key>GIZ_OPENAPI_TOKEN_INVALID</key>
	<string>用户token无效</string>
	<key>GIZ_OPENAPI_USERNAME_PASSWORD_ERROR</key>
	<string>用户名或密码错误</string>
	<key>GIZ_OPENAPI_USERNAME_UNAVALIABLE</key>
	<string>用户名已注册</string>
	<key>GIZ_OPENAPI_USER_INVALID</key>
	<string>用户名无效</string>
	<key>GIZ_OPENAPI_USER_NOT_EXIST</key>
	<string>用户不存在</string>
	<key>GIZ_PUSHAPI_APPID_OR_TOKEN_ERROR</key>
	<string>AppID或用户token错误</string>
	<key>GIZ_PUSHAPI_APPKEY_SECRETKEY_INVALID</key>
	<string>APIKey或者SecretKey无效</string>
	<key>GIZ_PUSHAPI_AUTH_KEY_INVALID</key>
	<string>授权无效</string>
	<key>GIZ_PUSHAPI_BODY_JSON_INVALID</key>
	<string>数据体无效</string>
	<key>GIZ_PUSHAPI_CHANNELID_ERROR_INVALID</key>
	<string>ChannelID错误</string>
	<key>GIZ_PUSHAPI_DATA_NOT_EXIST</key>
	<string>数据不存在</string>
	<key>GIZ_PUSHAPI_GIZWITS_APPID_EXIST</key>
	<string>机智云AppID已经存在</string>
	<key>GIZ_PUSHAPI_ID_PARAM_ERROR</key>
	<string>ID参数错误</string>
	<key>GIZ_PUSHAPI_NO_CLIENT_CONFIG</key>
	<string>客户端没有配置推送ID</string>
	<key>GIZ_PUSHAPI_NO_SERVER_DATA</key>
	<string>没有服务端数据</string>
	<key>GIZ_PUSHAPI_PARAM_ERROR</key>
	<string>参数错误</string>
	<key>GIZ_PUSHAPI_PUSH_ERROR</key>
	<string>推送错误</string>
	<key>GIZ_PUSHAPI_TYPE_PARAM_ERROR</key>
	<string>参数类型错误</string>
	<key>GIZ_SDK_APK_CONTEXT_IS_NULL</key>
	<string>Androidcontext为空，无法启动SDK</string>
	<key>GIZ_SDK_APK_PERMISSION_NOT_SET</key>
	<string>使用SDK所需要的Android权限还没有设置</string>
	<key>GIZ_SDK_APPID_IS_EMPTY</key>
	<string>AppID为空，无法使用SDK</string>
	<key>GIZ_SDK_APPID_LENGTH_ERROR</key>
	<string>AppID长度错误</string>
	<key>GIZ_SDK_BIND_DEVICE_FAILED</key>
	<string>设备绑定失败</string>
	<key>GIZ_SDK_CHMOD_DAEMON_REFUSED</key>
	<string>SDK后台服务进程的执行权限修改失败</string>
	<key>GIZ_SDK_CLIENT_NOT_AUTHEN</key>
	<string>SDK未启动</string>
	<key>GIZ_SDK_CLIENT_VERSION_INVALID</key>
	<string>无效的SDK版本号</string>
	<key>GIZ_SDK_CONNECTION_CLOSED</key>
	<string>连接被对端关闭</string>
	<key>GIZ_SDK_CONNECTION_ERROR</key>
	<string>发生了连接错误</string>
	<key>GIZ_SDK_CONNECTION_REFUSED</key>
	<string>连接被拒绝</string>
	<key>GIZ_SDK_CONNECTION_TIMEOUT</key>
	<string>连接超时</string>
	<key>GIZ_SDK_DAEMON_EXCEPTION</key>
	<string>SDK后台服务发生异常</string>
	<key>GIZ_SDK_DAEMON_VERSION_INVALID</key>
	<string>SDK后台服务版本无效</string>
	<key>GIZ_SDK_DATAPOINT_NOT_DOWNLOAD</key>
	<string>设备数据点配置文件还未下载</string>
	<key>GIZ_SDK_DATAPOINT_PARSE_FAILED</key>
	<string>设备数据点解析失败</string>
	<key>GIZ_SDK_DATAPOINT_SERVICE_UNAVAILABLE</key>
	<string>设备数据点配置服务不可用</string>
	<key>GIZ_SDK_DEVICE_CONFIG_IS_RUNNING</key>
	<string>设备配网正在执行</string>
	<key>GIZ_SDK_DEVICE_CONFIG_SEND_FAILED</key>
	<string>设备配网信息发送失败</string>
	<key>GIZ_SDK_DEVICE_CONFIG_SSID_NOT_MATCHED</key>
	<string>手机当前Wifi与设备配网SSID不匹配，无法完成设备配网</string>
	<key>GIZ_SDK_DEVICE_CONFIG_TIMEOUT</key>
	<string>设备配网超时</string>
	<key>GIZ_SDK_DEVICE_CONTROL_FAILED</key>
	<string>设备操作失败</string>
	<key>GIZ_SDK_DEVICE_CONTROL_NOT_WRITABLE_COMMAND</key>
	<string>设备操作指令中包含不可写指令</string>
	<key>GIZ_SDK_DEVICE_CONTROL_VALUE_OUT_OF_RANGE</key>
	<string>设备操作指令参数值不在有效范围内</string>
	<key>GIZ_SDK_DEVICE_CONTROL_VALUE_TYPE_ERROR</key>
	<string>设备操作指令参数类型错误</string>
	<key>GIZ_SDK_DEVICE_CONTROL_WITH_INVALID_COMMAND</key>
	<string>设备操作指令中包含无效指令</string>
	<key>GIZ_SDK_DEVICE_DID_INVALID</key>
	<string>设备DID无效</string>
	<key>GIZ_SDK_DEVICE_GET_STATUS_FAILED</key>
	<string>设备状态获取失败</string>
	<key>GIZ_SDK_DEVICE_LOGIN_VERIFY_FAILED</key>
	<string>设备登录验证失败</string>
	<key>GIZ_SDK_DEVICE_MAC_INVALID</key>
	<string>设备MAC无效</string>
	<key>GIZ_SDK_DEVICE_NOT_BINDED</key>
	<string>设备还未绑定</string>
	<key>GIZ_SDK_DEVICE_NOT_READY</key>
	<string>设备还未就绪</string>
	<key>GIZ_SDK_DEVICE_NOT_SUBSCRIBED</key>
	<string>设备还未订阅</string>
	<key>GIZ_SDK_DEVICE_NO_RESPONSE</key>
	<string>设备无响应</string>
	<key>GIZ_SDK_DEVICE_PASSCODE_INVALID</key>
	<string>设备验证码无效</string>
	<key>GIZ_SDK_DNS_FAILED</key>
	<string>DNS解析失败</string>
	<key>GIZ_SDK_EXEC_CATCH_EXCEPTION</key>
	<string>SDK后台服务进程启动发生异常</string>
	<key>GIZ_SDK_EXEC_DAEMON_FAILED</key>
	<string>SDK后台服务进程启动失败</string>
	<key>GIZ_SDK_GROUPNAME_INVALID</key>
	<string>设备分组的组名称无效</string>
	<key>GIZ_SDK_GROUP_FAILED_ADD_DEVICE</key>
	<string>设备分组添加失败</string>
	<key>GIZ_SDK_GROUP_FAILED_DELETE_DEVICE</key>
	<string>设备分组删除失败</string>
	<key>GIZ_SDK_GROUP_GET_DEVICE_FAILED</key>
	<string>设备分组获取失败</string>
	<key>GIZ_SDK_GROUP_ID_INVALID</key>
	<string>设备分组的组ID无效</string>
	<key>GIZ_SDK_GROUP_PRODUCTKEY_INVALID</key>
	<string>设备分组的组类型无效</string>
	<key>GIZ_SDK_HTTP_ANSWER_FORMAT_ERROR</key>
	<string>HTTP应答格式错误</string>
	<key>GIZ_SDK_HTTP_ANSWER_PARAM_ERROR</key>
	<string>HTTP应答数据错误</string>
	<key>GIZ_SDK_HTTP_REQUEST_FAILED</key>
	<string>HTTP请求失败</string>
	<key>GIZ_SDK_HTTP_SERVER_NO_ANSWER</key>
	<string>HTTP服务端无应答</string>
	<key>GIZ_SDK_INTERNET_NOT_REACHABLE</key>
	<string>手机外网无法访问</string>
	<key>GIZ_SDK_LOG_LEVEL_INVALID</key>
	<string>日志级别无效</string>
	<key>GIZ_SDK_LOG_PATH_INVALID</key>
	<string>SDK日志路径无效</string>
	<key>GIZ_SDK_M2M_CONNECTION_SUCCESS</key>
	<string>M2M服务器连接成功</string>
	<key>GIZ_SDK_MEMORY_MALLOC_FAILED</key>
	<string>内存分配失败</string>
	<key>GIZ_SDK_NOT_IN_SOFTAPMODE</key>
	<string>设备没有在softap配网模式下</string>
	<key>GIZ_SDK_OTHERWISE</key>
	<string>其他错误</string>
	<key>GIZ_SDK_PARAM_FORM_INVALID</key>
	<string>SDK内部通讯数据格式无效</string>
	<key>GIZ_SDK_PARAM_INVALID</key>
	<string>接口参数无效</string>
	<key>GIZ_SDK_PHONE_NOT_CONNECT_TO_SOFTAP_SSID</key>
	<string>手机没有连接设备热点</string>
	<key>GIZ_SDK_PHONE_WIFI_IS_UNAVAILABLE</key>
	<string>手机当前不是Wifi网络</string>
	<key>GIZ_SDK_PRODUCT_IS_DOWNLOADING</key>
	<string>正在下载设备数据点配置文件</string>
	<key>GIZ_SDK_RAW_DATA_TRANSMIT</key>
	<string>当前为原始数据透传方式</string>
	<key>GIZ_SDK_REQUEST_TIMEOUT</key>
	<string>SDK接口执行超时</string>
	<key>GIZ_SDK_SDK_NOT_INITIALIZED</key>
	<string>SDK还未初始化</string>
	<key>GIZ_SDK_SET_SOCKET_NON_BLOCK_FAILED</key>
	<string>socket非阻塞设置失败</string>
	<key>GIZ_SDK_SSL_HANDSHAKE_FAILED</key>
	<string>ssl握手失败</string>
	<key>GIZ_SDK_START_SUCCESS</key>
	<string>SDK启动成功</string>
	<key>GIZ_SDK_SUBDEVICE_DID_INVALID</key>
	<string>子设备DID无效</string>
	<key>GIZ_SDK_THREAD_CREATE_FAILED</key>
	<string>线程创建失败</string>
	<key>GIZ_SDK_TOKEN_INVALID</key>
	<string>登录token无效</string>
	<key>GIZ_SDK_UDP_PORT_BIND_FAILED</key>
	<string>UDP端口绑定失败</string>
	<key>GIZ_SDK_UNBIND_DEVICE_FAILED</key>
	<string>设备解绑失败</string>
	<key>GIZ_SDK_UNSUPPORTED_API</key>
	<string>此API已废弃，不再提供支持</string>
	<key>GIZ_SDK_USER_ID_INVALID</key>
	<string>登录用户ID无效</string>
	<key>GIZ_SITE_DATAPOINTS_NOT_DEFINED</key>
	<string>产品数据点未定义</string>
	<key>GIZ_SITE_DATAPOINTS_NOT_MALFORME</key>
	<string>产品数据点无效</string>
	<key>GIZ_SITE_PRODUCTKEY_INVALID</key>
	<string>产品类型标识码无效</string>
	<key>UNKNOWN_ERROR</key>
	<string>未知错误</string>
</dict>
</plist>
